<section class="login">
	<div class="illustration_group">
		<span class="illustration"><img src="../../../assets/images/line-art.svg"></span>
		<h2 class="title">Alison & Alexandre</h2>
		<h3 class="subtitle">Table 1</h3>
	</div>
	<div class="login">
		<div class="input-group">
			<label for="full-name" >Nom Prénom</label>
			<input type="text" name="full-name" id="full-name" placeholder="Nicol Alison">
		</div>
		<div class="input-group">
			<label for="email" >email <span class="optionnel">(optionnel)</span></label>
			<input type="text" name="email" id="email" placeholder="alison.nicol@email.com">
		</div>
		<div class="block-banner">Nous utilisons votre email pour vous partager les photos.</div>
	</div>
	<div class="footer">
		<a class="button primary" routerLink="/dashboard">Partagez vos photos</a>
	</div>
</section>