<section class="camera">
	<div class="camera-group">
		<div class="camera"></div>
		<div class="grid">
			<div class="line-group horizontal">
				<div class="content">
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</div>
			<div class="line-group vertical">
				<div class="content">
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="library">
		<ul>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
			<li><img src="https://images.unsplash.com/photo-1682685797818-c9dc151d241e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></li>
		</ul>
	</div>
	<div class="footer">
		<div class="button tertiary" routerLink="/dashboard">
			<span class="icon"><img src="../../../assets/images/back.svg"></span>
			<p class="text">Retour</p>
		</div>
		<a class="camera" routerLink="/camera">
			<span class="illustration">
				<img src="../../../assets/images/camera.svg">
			</span>
		</a>
	</div>
</section>