<section class="dashboard">
	<div class="categories">
		<div class="header">
			<h4 class="title">Categories</h4>
		</div>
		<div class="content">
			<ul class="list">
				<li>
					<div class="illustration"><img src="https://source.unsplash.com/random?plane"></div>
					<div class="name">Defis #1</div>
				</li>
				<li>
					<div class="illustration"><img src="https://source.unsplash.com/random?city"></div>
					<div class="name">Defis #2</div>
				</li>
				<li>
					<div class="illustration"><img src="https://source.unsplash.com/random?art"></div>
					<div class="name">Defis #3</div>
				</li>
				<li>
					<div class="illustration"><span class="avatar">AN</span></div>
					<div class="name">Vos photos</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="photos-populaire">
		<div class="header">
			<h4 class="title">Photo populaires</h4>
		</div>
		<div class="content">
			<div class="column">
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?city,night"></div>
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?boat"></div>
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?skyscraper"></div>
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?night"></div>
			</div>
			<div class="column">
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?abstract"></div>
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?wedding"></div>
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?star"></div>
				<div class="item" routerLink="/photo" ><img src="https://source.unsplash.com/random?dog"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<a class="camera" routerLink="/camera">
			<span class="illustration">
				<img src="../../../assets/images/camera.svg">
			</span>
		</a>
	</div>
</section>