/* IMPORTS */
@import "./assets/styles/ui-mixines";

/* FONTS */
@font-face {
	font-family: "quattrocento";
	src: url("./assets/fonts/quattrocento/regular/quattrocento-regular.ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "lora";
	src: url("./assets/fonts/lora/regular/lora-regular.ttf");
	font-weight: 400;
	font-style: normal;
}

/* RESET SCSS */
body, html{
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, code, img, strong, ol, ul, li, form, label, article, aside, canvas, details, footer, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'lora';
}
section, article, nav, header, footer, details, aside{
	display: block;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
input, textarea, li, svg{
	&:focus{
		outline: none;
	}
	border-radius: 0;
}
